/* Setting fade transition and default settings */
body {
    
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    background-color: #0f4c75;
    transition: background-color 1s ease;
  }
  
  /* panel styles */
  #sm {
    font-size: 28px;
    margin-top : 70px;
    margin-left: 30px;
    float:left;
    position: fixed;
    text-decoration: none;
    
  }
  .greenn{

    color : #99b898;
    font-family: 'Dosis', sans-serif;


  }
  .pinkk{

    color : #b83b5e;
    font-family: 'Dosis', sans-serif;


  }
 
  .bluee{

    color : #0f4c75;
    font-family: 'Dosis', sans-serif;


  }
  

  #sm a{
    text-decoration: none;
    color : #fabea7;
  }
  .panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 50px;
    margin: auto;
    
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
  }
  .violet {
    font-size:40px;s
  }
  
  /* colours */
  .color-violet {
    background-color: #ff5722;
    
  }
  .color-indigo {
    background-color: #f7d1ba;
  }
  .color-blue {
    background-color: #2F8FED;
  }
  .color-green {
    background-color: #a2d5f2;
  }
  .color-yellow {
    background-color: #FAEB33;
  }
  .color-orange {
    background-color: #f37121;
  }
  .color-red {
    background-color: #F2293A;
  }
  
  /* styling for demo, can ignore */
  body {
    text-align: center;
   
  }
  .example1{
	color: #0f4c75;
	font-size: 198px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: peachpuff;
    padding-left: 85px;;
}
  .ab {
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

  }
  h1, h2 {
    font-size: 3em;
    letter-spacing: -0.05em;
    line-height: 1.1;
  }
  p{
    max-width: 30em;
    margin-bottom: 1.618em;
  }
  a{
    color: #4332CF;
  }
  * {

    cursor:none;
  
  }
  .cursor {
  
    position:absolute;
  
    height:10px;
    width:10px;
  
    border-radius:50%;
  
    transform: translateX(-50%) translateY(-50%);
  
  }
  
  .cursor:nth-child(1) {
    background-color:#E74C3C;
  
    z-index:1;
  
  }
  
  .cursor:nth-child(2) {
  
    background-color:#fff;
  
  }
  .vertical-menu {
    width: 200px;
  }
  
  .vertical-menu a {
    
    color: black;
    
   text-decoration: none;
  }
  #cursor {
    position: fixed;
    z-index: 2;
    pointer-events: none;
}
@media (max-width: 1024px) {
    #cursor {
        display: none;
    }
}
#cursor div {
    width: 0.8333rem;
    height: 0.8333rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}

 .imgg{

  height : 70px;
  width : 70px;
 } 
 .imggg
 {
   height : 130px;
   width : 60px;
 }
 .marq{
   font-size: 120px;
 }