section#schedule.s-speaker.schedule {
    font: 30px " Red Hat Display", sans-serif;
    color: #8b8b8b;
    padding: 130px 0px;
  }
  
  #cursor-inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: .1rem;
    height: .1rem;
    border-radius: 50%;
    position: fixed;
    background: var(--color-mona-lisa);
    z-index: 2000000;
    opacity: 0;
    pointer-events: none;
  }
  
  #schedule {
    background-color: black;
  }
  
  span {
    color: white;
    font-size: 60px; /*"Red Hat Display", sans-serif;*/
    text-align: center;
    /*margin: 0% 33.5% 0% 30.5%;*/
  }
  
  h2.title-conference {
    /*font-family: "Lucida Console", Courier, monospace;*/
    font-family: 'Montserrat', sans-serif;
    margin: 0 30% 0 35%;
    padding: 8px 0px;
  }
  
  .speakers-timeline-imgleft  {
    display: block;
  margin-left: 15%;
  }
  
  .speakers-timeline-img {
    display:block;
    margin-left: 5%;
  }
  
  .speakers-timeline-img.rx-lazy_item {
    margin: 15% 30% 60px;
    -webkit-transition: .35s ease-out;
    transition: .35s ease-out;
    z-index: 1;
    transition-timing-function: ease-out;
  }
  
  div.speaker-item-info {
    color: white;
    background: #0d5aa5;
    width: 329px;
    height: 93px;
    font: 16px "Red Hat Display", sans-serif;
    padding: 14px 15px 23px 20px;
  }
  
  img.rx-lazy_item {
    width: 329px;
    height: px;
  }
  
  img.rx-lazy_item {
    width: 329px;
    height: px;
  }
  
  img.rx-lazy_item {
    width: 329px;
    height: px;
  }
  
  img.rx-lazy:hover {
    transform: translateZ(-50%);
    -webkit-transform: translateZ(-50%) ; transition: width 2s, height 2s, transform 2s;
  }
  
  .s-speakers-schedule {
    padding: 148px 0 160px
  }
  
  .speakers-timeline-cover {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    padding: 25px 0
  }
  
  .speakers-timeline-cover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: white
  }
  
  .speakers-timeline-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px
  }
  
  .speakers-timeline-item:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
  }
  
  .speakers-timeline-item:nth-child(2n) .speakers-timeline-info {
    text-align: right
  }
  
  .speakers-timeline-item:last-child {
    margin-bottom: 0
  }
  
  .speakers-timeline-item:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 11px;
    height: 11px;
    background-color: #0d5aa5;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 6px rgba(13, 90, 165, 0.4);
    box-shadow: 0 0 0 6px rgba(13, 90, 165, 0.4)
  }
  
  .speakers-timeline-img, .speakers-timeline-info {
    width: calc(50% - 55px)
  }
  
  .speakers-timeline-info .date {
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin-bottom: 20px
  }
  
  .speakers-timeline-info .title {
    color: white;
    margin-bottom: 10px
  }
  
  .speakers-timeline-info p {
    font-weight: 300
  }
  
  .rx-lazy_hidden {
    opacity: 0
  }
  
  .rx-lazy {
    -webkit-transition: .35s ease-out;
    transition: .35s ease-out
  }
  
  .speakers-timeline-info .title {
    font-size: 24px;
    margin-bottom: 8px
  }
  
  .speakers-timeline-info .date {
    font-size: 16px;
    margin-bottom: 4px
  }
  
  .speakers-timeline-img, .speakers-timeline-info {
    width: calc(50% - 40px)
  }
  
  .flip {
    position: relative;
  }
  
  .flip>.front,
  .flip>.back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .5s;
    transition-property: transform, opacity;
  }
  
  .flip>.front {
    transform: rotateY(0deg);
  }
  
  .flip>.back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
  
  .flip:hover>.front {
    transform: rotateY(180deg);
  }
  
  .flip:hover>.back {
    opacity: 1;
    transform: rotateY(0deg);
  }
  
  .flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 329px;
  }
  
  .flip>.front,
  .flip>.back {
    display: block;
    color: #000;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 240px;
    padding: 0em 2em;
    background: rgba(176, 213, 230, 0.8);
    border-radius: 10px;
  }
  
  .flip>.front p,
  .flip>.back p {
    font-size: 0.7rem;
    line-height: 160%;
    color: #000;
  }
  
  .flip>.front h2,
  .flip>.back h2 {
    font-size: 1rem;
    line-height: 160%;
    color: #000;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.4);
    width: 50px;
    height: 25px;
    padding: 0.8px;
  }
  
  .text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
  }
  
  div.buttons {
    text-align: center;
    margin: 30px auto;
  }
  
  button.Mshow1, button.Mshow2, button.Cshow1, button.Cshow2, button.Eshow1, button.Eshow2, button.Ishow1, button.Ishow2 {
    background: transparent;
    color: #000;
    opacity: 0.3;
    border: 1px solid #000;
    padding: 15px;
    outline: none;
    user-select: none;
    border-radius: 10px;
    margin: 10px 10px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button.Mshow1:hover, button.Mshow2:hover, button.Cshow1:hover, button.Cshow2:hover, button.Eshow1:hover, button.Eshow2:hover, button.Ishow1:hover, button.Ishow2:hover {
    background-color: #000;
    color: #fff;
  }
  
  .popup {
    background-color: rgb(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 10%;
    height: 10%;
    display: none;
  }
  
  .popup .Malert1, .popup .Malert2, .popup .Calert1, .popup .Calert2, .popup .Ealert1, .popup .Ealert2, .popup .Ialert1, .popup .Ialert2 {
    opacity: 1;
    background-color: #fff;
    color: #000;
    /* width: 60%;
    height: 60%; */
    width: 50%;
    height: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left: 30%;
    cursor: default;
  }
  
  .popup .Malert1 h2, .popup .Malert2 h2, .popup .Calert1 h2, .popup .Calert2 h2, .popup .Ealert1 h2, .popup .Ealert2 h2, .popup .Ialert1 h2, .popup .Ialert2 h2 {
    background-color: #d90429;
    color: #FFF;
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    text-align: center;
  }
  
  .popup .Malert1 h3, .popup .Malert2 h3, .popup .Calert1 h3, .popup .Calert2 h3, .popup .Ealert1 h3, .popup .Ealert2 h3, .popup .Ialert1 h3, .popup .Ialert2 h3 {
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30;
    margin-top: 60px;
    margin-left: 20px;
    user-select: none;
      display: block;
  }
  
  .popup .Malert1 .close, .popup .Malert2 .close, .popup .Calert1 .close, .popup .Calert2 .close, .popup .Ealert1 .close, .popup .Ealert2 .close, .popup .Ialert1 .close, .popup .Ialert2 .close {
  
    background-color: #d90429;
    color: #FFF;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 0 10px;
    position: absolute;
    top: -1px;
    right: -1px;
    margin: auto auto auto 700px;
  }
  



  .dropbtn {
    background-color: black;
    color:white;
    padding: 16px;
    font-size: 30px;
    /*border: none;*/
    border: solid;
    border-radius: 25px 0 25px 0;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: black;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: } */



   /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: white; /* Black fallback color */
    background-color: rgba(7, 7, 7, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color:lightgray;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  .menuContentOverlay{
  
  font-size: 18px;
  color:white;
  }
